/* setting border to body */

body{
    background: url("atra1.jpg") no-repeat fixed center;
    background-size:cover;
    background-blend-mode:soft-light;
    overflow-x: hidden;
    background-color: rgb(205, 221, 236);

    border: rgb(138, 248, 175) groove 0.2rem;  
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 0.5rem;
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
}

.header .logo{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(233,150,122);
    margin:  0 2.0rem ;
    margin-bottom: 1.5rem;
    font-variant: small-caps;
    max-width: 100%;
}

.header .logo i{
    padding: 0 .5rem;
}

.fas{
    display: none;
}
.navbar{
    display: inline-flex;
}
.header .navbar ul{
    max-height: 100%;
    list-style-type: none;
    align-items: center;
    display:inline-flex;
    justify-content:baseline;
    max-width: 100%;

}

.header .navbar ul li{
    float: right;
    margin:  0 2.0rem ;
    margin-bottom: 1.5rem;
    max-width: 100%;

}
.header .navbar ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(233,150,122);
    max-width: 100%;


}
.header .navbar ul li a:hover{
    color: #ccc;
}

/* styling the header element */
#header{
    font:60px bold helvetica;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url("pattern.webp");
    color: khaki;
    padding-top: 15px;
}

/* styling the image */
.hacksaw{
    /* -webkit-box-reflect:  .1rem linear-gradient(transparent 70%, #0004); */
    box-shadow: 0.5rem 0.5rem .2rem rgba(0,0,0,.3);
    object-fit: cover;
}

/* styling the h2 element */
h2 {
    padding: 5px;
    font-stretch: expanded;
    background-color: mediumaquamarine;
    font: 18px bold helvetica;
    color: white;
}

/* styling the figcaption */
.figcaption{
    font: 15px;
    font-display: bold;
    font-variant: small-caps;
    padding: 10px;
}
/* styling artice */
article{
    padding: 0.5rem;
}
